.conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

h1 {
    color: #fff;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2d4e;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
}

& button {
    border-radius: 30px;
    background-color: blue;
    color: #fff;
    border: none;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}

& button:hover {
    opacity: 0.5;
}

& input {
    border: 1px solid #06326b;
    border-radius: 30px;
    height: 40px;
    background-color: #1b1b3d;
    color: aliceblue;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #302f57;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;

    & p {
        color: #fff;
        font-weight: bold;

        & span {
            font-weight: normal;
        }
    }
}